<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
     <ol class="carousel-indicators">
        {{ range $index, $value := where site.RegularPages "Type" "products"  }}
        <li data-target="#header-carousel" data-slide-to="0" class="{{ if (eq $index 0) }}active{{ end }}"><span class="small-circle"></span></li>
        {{ end }}
    </ol>

    <div class="carousel-inner" role="listbox">
        <!-- .item -->
        {{ range $index, $value := where site.RegularPages "Type" "products"  }}
        <div class="item {{ if (eq $index 0) }}active{{ end }}">
            <div class="single-slide-item slide1">
                <div class="container">
                    <div class="welcome-hero-content">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-txt">
                                        <h2>{{ .Title }}</h2>
                                        <p>{{ .Params.shortDescription }}</p>
                                        <div class="packages-price">
                                            <p>
                                                {{ site.Params.currencySymbol }} {{ if .Params.discountPrice }} {{ .Params.discountPrice }} {{ else }} {{ .Params.price }} {{ end }}
                                                {{ if .Params.discountPrice }} <del>{{ site.Params.currencySymbol }} {{ .Params.price }}</del> {{ end }}
                                            </p>
                                        </div>
                                        <button class="btn-cart welcome-add-cart" onclick="window.location.href='#'" {{ if eq .Params.inStock false }} disabled {{ end }}>
                                            <span class="lnr lnr-plus-circle"></span>
                                            add <span>to</span> cart
                                        </button>
                                        <button class="btn-cart welcome-add-cart welcome-more-info"
                                            onclick="window.location.href='{{ .Permalink }}'">
                                            more info
                                        </button>
                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                            <div class="col-sm-5">
                                <div class="single-welcome-hero">
                                    <div class="welcome-hero-img">
                                        <img src="{{ .Params.thumbnail | absLangURL }}" alt="slider image">
                                    </div>
                                    <!--/.welcome-hero-txt-->
                                </div>
                                <!--/.single-welcome-hero-->
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.welcome-hero-content-->
                </div><!-- /.container-->
            </div><!-- /.single-slide-item-->

        </div><!-- /.item .active-->
        {{ end }}

    </div><!-- /.carousel-inner-->

</div><!--/#header-carousel-->

