{{ define "main" }}
<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="new-arrivals-content">
            <div class="row">
                {{ range (where site.RegularPages "Type" "products")  }}
                <div class="col-md-3 col-sm-4">
                    <div class="single-new-arrival">
                        <a href="{{ .Permalink }}">
                        <div class="single-new-arrival-bg">
                            <img src='{{ .Params.thumbnail | absLangURL }}' alt="{{ .Title }}">
                            <div class="single-new-arrival-bg-overlay"></div>
                            {{ if .Params.discountPrice }}
                            <div class="sale bg-2">
                                <p>Sale</p>
                            </div>
                                {{ if eq .Params.inStock false }}
                                <div class="sale bg-1">
                                    <p>Out Of Stock</p>
                                </div>
                                {{ end }}
                            {{ else }}
                            {{ if eq .Params.inStock false }}
                            <div class="sale bg-1">
                                <p>Out Of Stock</p>
                            </div>
                            {{ end }}
                            {{ end }}

                            <div class="new-arrival-cart">
                                <p>
                                    {{ if .Params.inStock }}<a href="#"><span class="lnr lnr-cart"></span> add <span>to </span> cart</a>{{ else }}<a href="#"></a>{{ end }}
                                </p>
                            </div>
                        </div>
                        </a>
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        <p class="arrival-product-price">{{ site.Params.currencySymbol }} {{ if .Params.discountPrice }} {{ .Params.discountPrice }} {{ else }} {{ .Params.price }} {{ end }}</p>
                    </div>
                </div>
                {{ end }}

            </div>
        </div>
    </div><!--/.container-->

</section><!--/.new-arrivals-->
{{ end }}