{{ define "main" }}
<section class="product-single">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12 col-lg-10 col-lg-push-2 align-self-center">
                        {{ $pageTitle := .Page.Title }}
                        {{ with resources.Get .Params.thumbnail }}
                        {{ $smaillImage := .Resize ("90x png") }}
                        {{ $miniImage := .Resize ("800x png") }}
                        {{ $largeImage := .Resize ("1200x png") }}
                        <img src='{{ $miniImage.RelPermalink | absLangURL }}' alt="{{ $pageTitle }}"
                            data-mini="{{ $miniImage.RelPermalink | absLangURL }}"
                            data-large="{{ $largeImage.RelPermalink | absLangURL }}" class="product-thumb">
                        {{ end }}

                        {{ if .Params.discountPrice }}
                        <div class="sale bg-2">
                            <p>On Sale</p>
                        </div>
                        {{ if eq .Params.inStock false }}
                        <div class="sale bg-1">
                            <p>Out Of Stock</p>
                        </div>
                        {{ end }}
                        {{ else }}
                        {{ if eq .Params.inStock false }}
                        <div class="sale bg-1">
                            <p>Out Of Stock</p>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                    <div class="col-sm-12 col-lg-2 col-lg-pull-10">
                        {{ range .Params.images }}
                        {{ $title := .title }}
                        {{ with resources.Get .image }}
                        {{ $smaillImage := .Resize ("90x png") }}
                        {{ $miniImage := .Resize ("800x png") }}
                        {{ $largeImage := .Resize ("1200x png") }}
                        <img src='{{ $smaillImage.RelPermalink | absLangURL }}' alt="{{ $title }}"
                            data-mini="{{ $miniImage.RelPermalink | absLangURL }}"
                            data-large="{{ $largeImage.RelPermalink | absLangURL }}" class="product-image">
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="product-details">
                    <h2>{{ .Title }}</h2>
                    <hr>
                    <p>{{ .Params.shortDescription }}</p>

                    {{ if .Params.optionLable }}
                    <div class="shopOptions">
                        <label for="cars">{{ .Params.optionLable }}:</label>
                        <select name="cars" id="cars" class="form-control">
                            {{ range .Params.options }}
                            <option value="{{ .optionValue }}">{{ .optionTitle }}</option>
                            {{ end }}
                        </select>
                    </div>
                    {{ end }}

                    <div class="packages-price">
                        <p>
                            {{ site.Params.currencySymbol }} {{ if .Params.discountPrice }} {{
                            .Params.discountPrice }} {{ else }} {{ .Params.price }} {{ end }}
                            {{ if .Params.discountPrice }} <del>{{ site.Params.currencySymbol }} {{
                                .Params.price }}</del> {{ end }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="shopOptions">
                                <select name="cars" id="cars" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn-cart welcome-add-cart welcome-add-cart-sm"
                                onclick="window.location.href='#'" {{ if eq .Params.inStock false }} disabled {{ end }}>
                                <span class="lnr lnr-plus-circle"></span>
                                add <span>to</span> cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ partial "related.html" . }}

<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
{{ end }}