<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{{ .Page.Title }}{{if .Page.Title }} | {{ end }}{{ .Site.Title }}</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    {{ partial "meta/css.html" (dict "context" . "css" "css/all.min.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/bootstrap.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/owl.carousel.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/magnific-popup.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/animate.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/meanmenu.min.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/main.css") }}
    {{ partial "meta/css.html" (dict "context" . "css" "css/responsive.css") }}

</head>